#root {
    background-color: #f9f9f9;
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    max-width: 1120px;
}

.app__title {
    padding: 0 32px;
    border-bottom: 4px black solid;
    flex: 1;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.stories-container {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px;
    justify-content: center;
}
